#main {
  height: 100vh;
  display: flex;
  background-color: green;
  align-items: center;
  justify-content: center;
}

#quote-box {
  padding: 20px 20px;
  height: auto;
  width: 30%;
  display: inline-block;
  background-color: lightgray;
  font-size: large;
  font: Courier serif;
}

#quote-box-2 {
  display: flex;
  justify-content: space-between;
}

#new-quote {
  color: grey;
  font-size: 15px;
  padding: 10px 10px;
  border: 1px solid blue;
  border-radius: 4%;
  align-items: end;
}

#new-quote:hover {
  color: black;
  background-color: greenyellow;
}

#tweet-quote {
  align-items: start;
}

#text {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */